body {
    width: 1500px;
    height: 2000px;
    margin-top: 0px;
    
    background-image: url(rome3.jpg);
    background-repeat: no-repeat;    
}


.texto { 
    width: 300px;
    margin: 100px;
    padding-right: 10px;
    padding-left: 10px;
    
    border: 15px solid rgb(173, 90, 0);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    
    opacity: 0.7;
    font-family: sans-serif;
    text-align: center;
    
}